BAT/Elematec.EntExtManage_RFIDSystem_FileWatcher/Elematec.EntExtManage_RFIDSystem_FileWatcher/AppSettings/AppSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="General">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LogPreserveDay" type="xs:unsignedShort" />
              <xs:element name="CompJudgMillisecond" type="xs:double" />
              <xs:element name="MonitoringInterval" type="xs:double" />
              <xs:element name="MonitoringFolder" type="xs:string" />
              <xs:element name="OutputFolder" type="xs:string" />
              <xs:element name="MonitoringFileExtension" type="xs:string" />
              <xs:element name="OutputFileExtension" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Mail">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SmtpServer" type="xs:string" />
              <xs:element name="SmtpAuth" type="xs:boolean" />
              <xs:element name="SmtpUser" type="xs:string" />
              <xs:element name="SmtpPassword" type="xs:string" />
              <xs:element name="SmtpPort" type="xs:unsignedShort" />
              <xs:element name="EnableSSL" type="xs:boolean" />
              <xs:element name="ToAddress" type="xs:string" />
              <xs:element name="FromAddress" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>