BAT/Elematec/Elematec.EntExtManage_RFIDSystem_Importer/AppSettings/AppSettings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="General">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LogFilePreserveDay" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SQLServer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ServerName" type="xs:string" />
              <xs:element name="DatabaseName" type="xs:string" />
              <xs:element name="UserName" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Import">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FilePreserveDay" type="xs:unsignedShort" />
              <xs:element name="SuccessedFolderPath" type="xs:string" />
              <xs:element name="FailedFolderPath" type="xs:string" />
              <xs:element name="ReceiveFolderPath" type="xs:string" />
              <xs:element name="WorkFolderPath" type="xs:string" />
              <xs:element name="ErrorFolderPath" type="xs:string" />
              <xs:element name="WarehousingBaseName" type="xs:string" />
              <xs:element name="FreeProductBaseName" type="xs:string" />
              <xs:element name="CheckFileExtension" type="xs:string" />
              <xs:element name="ImportFileExtension" type="xs:string" />
              <xs:element name="ReceiveInterval" type="xs:unsignedInt" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Mail">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SmtpServer" type="xs:string" />
              <xs:element name="SmtpAuth" type="xs:boolean" />
              <xs:element name="SmtpUser" type="xs:string" />
              <xs:element name="SmtpPassword" type="xs:string" />
              <xs:element name="SmtpPort" type="xs:unsignedShort" />
              <xs:element name="EnableSSL" type="xs:boolean" />
              <xs:element name="ToAddress" type="xs:string" />
              <xs:element name="FromAddress" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>